<!DOCTYPE html>
html(lang="en")
  head
    title= title
    meta(charset="utf-8")
    meta(name="author", content="Tuomas Pöyry")
    meta(name="description", content= description)
    meta(name="viewport", content="width=device-width, initial-scale=1")
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
    <link rel="stylesheet" href="style.css" inline>
  body
    article!= contents
